global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend https-in
    bind *:80
    bind *:443 ssl crt /home/cert/chave.pem
    acl url_sso path_beg /sso
    use_backend keycloak if url_sso
    option httplog
    option forwardfor
    http-request set-header Host localhost

backend keycloak
    server keycloak sso:8080

